.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(241, 27, 27);
  height: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Roboto, Arial;
  font-size: 2vw;
  z-index: 100;
}